.header__social-media {
    margin-right: 100px;
    height: 40px;
    display: inline-table;
}

.header__social-link {
}

.header__social-icon {
width: 40px;
height: 40px;
}

.header__nav-list {
}

.header__nav-item {
    font-size: 1.5rem;
}


nav {
    margin-left: 100px;
}
/* 
wrapper
*/

#wrapper{
    padding-top: 10rem;
}

/* 
wrapper > section
*/
section {
margin-top: 2rem;
}

.section__greatings {
    ont: bold 6.5rem "times new roman, serif";
}

.section__description {
    padding: 0.5rem 0;
    font: 2.5rem "times new roman, serif";
    line-height: 2.5rem;
}

.section__more {
width: 100vw !important;

}

.section__moreInfo {
    width: 100mvw;
}

.section__buttonMoreInfo {
width: 25rem;
height: 3rem;
font-size: 1.2rem;
border-radius: 0.5rem;
}

