* {
  margin: 0;
  padding: 0;
}

ul, li, a, h4, p {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: arial, san-serif;
  font-size: 12px;
}

body {
  background-color: #f8f8f8;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

header {
  /* background: #ffffff; */
  width: 100vw;
  height: 100px;
  margin: 0 auto;
}

.header__social-media {
  margin-right: 100px;
  height: 40px;
}

.header__social-link {
  display: inline-table;
}

.header__social-icon {
  width: 40px;
  height: 40px;
}

.header__nav-item {
  width: 85px;
  height: 50px;
  /* height: auto; */
  margin: 0 10px;
}

.header__nav-link {
  padding: 18.5px 20px;
  display: block;
}

.header__nav-link:hover {
  color: rgb(164, 31, 31);
  /* text-shadow: 0 0 12px #00000030; */
}

nav {
  margin-left: 100px;
}

/* 
    wrapper
*/
#wrapper {
  width: 75vw;
  height: 300px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  display: flex;
}

aside {
  width: 25vw;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.aside_badge {
  width: 250px;
  height: 250px;
  border-radius: 5%;
  box-shadow: 0 0 20px 3px rgba(230, 230, 230, 0.7882352941);
  background-image: radial-gradient(#ffffff, #ffffff, #ffffff, #f8f8f8);
}

/* 
    section
*/
section {
  width: 50vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__content p {
  width: 460px;
  text-align: center;
}

.section__greatings {
  font: bold 3rem "times new roman, serif";
}

.section__greatings::after {
  content: "";
  height: 16px;
  width: 100%;
  background: rgba(69, 227, 255, 0.6509803922);
  display: block;
  border-radius: 5%;
  margin-top: -25px;
}

.section__description {
  font: 1.5rem "times new roman, serif";
}

.section__more {
  margin: 5px 0 0 0;
}

.section__moreInfo {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__buttonMoreInfo {
  width: 250px;
  height: 35px;
  background: rgba(69, 227, 255, 0.6509803922);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 9px 1px rgba(0, 74, 87, 0.25);
}

.section__buttonMoreInfo:hover {
  background: #038fa1;
  transition: background 0.5s ease-in 0.12s;
  color: white;
  box-shadow: inset 0 0 9px 1px rgba(0, 74, 87, 0.911);
}

/* 
    footer
*/
footer {
  padding-top: 50px;
}

footer div {
  width: 200px;
  height: 90px;
  margin: 0 20px;
}

footer div h4 {
  margin: 0 0 10px 0;
  /* text-align: center; */
}

footer p, footer li, footer li a {
  color: #5a5a5a;
  font: 12px arial, san-serif;
  padding: 5px 0;
}

div.social_media_footer {
  margin: 0;
}

.social_media_footer img {
  padding: 5px 5px 0 0;
}

.social_media_footer a, .social_media_footer img {
  width: 25px;
  height: auto;
  display: inline-table;
}

.contact_me_email a {
  color: #5a5a5a;
  font: 0.65rem sans-serif;
}

.contact_me_email a:hover {
  color: rgb(164, 31, 31);
}/*# sourceMappingURL=style2.css.map */